<!DOCTYPE html>
<html>
<head>
	<title>EditList</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<table class='table table-striped'>
	<tr>
		<th>Name</th>
		<th>Price</th>
		<th>Description</th>
		<th>Expiry_date</th>
		<th>Image</th>
		<th>Category</th>
		<th>Available_stock</th>
		<th>-----</th>
		<th>-----</th>
	</tr>
	<tr>
		{% for i in Med %}
		<td>{{i.name}}</td>
		<td>{{i.price}}</td>
		<td>{{i.description}}</td>
		<td>{{i.expiry_date}}</td>
		<td><img src="{{i.image.url}}" height="150" width="150">
		<td>{{i.category}}</td>
		<td>{{i.available_stock}}</td>
		<td><a href="{% url 'MedEditView' i.id %}">Edit</a></td>
		<td><a href="{% url 'removebook'  i.id %}">Delete</a></td>
				</tr>
		{% endfor %}
</table>
</body>
</html>