{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" type="text/css" href="{% static 'css/material-design-iconic-font.min' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/material-design-iconic-font' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <title>Registration</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                     <div class="signup-image">
                        <figure><img src="{% static 'images/logo.png' %}" height="150" width="150" style="padding-top:15
                        0px;"></figure>
                        
                    </div>
                    <div class="signup-form" style="padding-right:10px ">
                        <h2 class="form-title" style="padding-left: px;">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            
                                <p>Username</p>
                                {{form.username}}
                                
                                <p>First Name</p>
                                {{form.first_name}}
                                <p>Last Name</p>
                                {{form.last_name}}
                                <p>Address</p>
                                {{extend_form.address}}
                                <p>Email</p>
                                {{form.email}}
                                <p>Password</p>
                                {{form.password1}}
                                <p>Repeat Password</p>
                                {{form.password2}}
                                
                            
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/ style="margin-left: 80px;">
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        
                         <a href="login.html" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>

      

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>





<!-- <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="name" id="name" placeholder="First_Name"/ style="margin-bottom: 20px;">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="name" id="name" placeholder="Last_Name"/>
                            </div> -->
                            <!-- <div class="form-group">
                                <label for="address"><i class="zmdi zmdi-home"></i></label>
                                <input type="textarea" name="address" id="address" placeholder="Address"/>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email"/>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="pass" id="pass" placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>
                            </div> -->